h1
{
  padding-bottom: 35px;
}
.h11
{
  color: blue;
}
.t
{
    
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: blue;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
    display: flex;
    flex-direction: column;
    align-items: center;/**/
}
span
{

}
.spano
{
    background-color: #E2F5FF;
    color: teal;
}
